.header,
.section-hero,
.section-about,
.section-advantages,
.section-gallery,
.section-contacts,
.footer {
  background-color: var(--background-color);
}

.container {
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-products,
.section-customer {
  background-image: url("/images/backgroud_mobile.jpg");
  background-size: auto;
  // background-size: cover;
}

@media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
        .section-products,
        .section-customer {
          background-image: url("/images/backgroud_mobile@2x.jpg");
      }
}      

//480px+
@media screen and (min-width: 480px) {
    .container { 
    width: 480px;
    margin-right: auto;
    margin-left: auto;
    }

}

//768px+
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;    
  }
}

//1200px+
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
   padding-right: 16px;    
  }

  .section {
   padding-top: 94px;
   padding-bottom: 94px;
 }
}

