:root {
  --font-family: 'Montserrat', 'DM Sans', 'Inter', 'Seymour One', sans-serif;
  --background-color: #84A178;    
  --accent-color:#F8D24E;
  --main-text-color-light: #FCFCFC;
  --main-text-color-dark: #131313;    
  --btn-text-light: #ffffff;
  --btn-text-dark: #000000;
}  
